.section-title {
    display: flex;
    align-items: center;

    img {
        margin-right: 20px;
    }

    &_180deg {
        transform: rotate(180deg);
    }

    &_90deg {
        transform: rotate(90deg);
    }

    &__header {
        font-weight: 700;
        font-size: 48px;
        line-height: 140%;
    }
}