.section-title {
    display: flex;
    align-items: center;

    img {
        margin-right: 20px;
    }

    &_180deg {
        transform: rotate(180deg);
    }

    &_45deg {
        transform: rotate(-45deg);
    }

    &__header {
        font-weight: 700;
        font-size: 48px;
        line-height: 140%;
        margin: 0;
    }

    &_column {
        flex-direction: column;
    }
}