.teachers {
    background: url('../img/bgc.jpg') repeat;
    padding-bottom: 200px;

    &__wrapper {
        margin-top: 110px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        grid-auto-rows: auto;
    }

    &__item-wrapper {
        max-width: 300px;
        overflow: hidden;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__name {
        margin-top: 40px;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
    }

    &__about {
        margin-top: 15px;
        font-size: 16px;
        line-height: 160%;
        opacity: 0.8;
    }

    &__btn {
        margin-top: 30px;
    }
}