.teachers {
    background: url('../img/bgc.jpg') repeat;
    padding-bottom: 200px;

    &__wrapper {
        margin-top: 110px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        grid-auto-rows: auto;
    }

    &__item-wrapper {
        max-width: 300px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        position: relative;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: all 0.3s;

        &_active {
            transform: translateX(-100%);
        }
    }

    &__name {
        margin-top: 40px;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
    }

    &__about {
        margin-top: 15px;
        font-size: 16px;
        line-height: 160%;
        opacity: 0.8;
    }

    &__btn {
        margin-top: 30px;
    }

    &__item-back {
        position: absolute;
        top: 0;
        left: 100%;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        background: rgba(256, 256, 256, .3);
        transition: all 0.4s;
        width: 216px;

        &_active {
            left: 0;
        }
    }

    &__content {
        color: #000;
        margin-bottom: 75px;
    }
}